[submodule "pkg/gologger"]
	path = pkg/gologger
	url = https://github.com/theblitlabs/gologger.git
[submodule "pkg/keystore"]
	path = pkg/keystore
	url = https://github.com/theblitlabs/keystore.git
[submodule "pkg/go-wallet-sdk"]
	path = pkg/go-wallet-sdk
	url = https://github.com/theblitlabs/go-wallet-sdk
